* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Stack Sans Text', -apple-system, BlinkMacSystemFont, sans-serif;
}

body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

